<header>
    <h1 style="text-align:center">This header appears on all pages using this partial</h1>
    <img style="width:128px;height: 128px;;margin-right:50px" src="images/charizard.png"> 
</header>