<header>
    <img src="images/logo-dark.png" class="header-logo"/>
    <h1 class="header-text">RYV</h1>
    <nav >
        <a href="/songs">Songs</a>
        <a href="/albums" >Albums</a>
        <a href="/charts" >Top Charts</a>
    </nav>
</header>