        <form action="/input" method="post" role ="form">
        <legend>Enter personal info</legend>

        <div style="display:block;margin: 10px 0px">
            <label for="name">Enter Pokemon Name:</label><br>
            <input type="text">
            <br>
            <label for="type">Enter Pokemon Type:</label><br>
            <input type="text">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>