
<div style="display: flex;">
    <div class="table">
        <table border="1px" width="100%">
        <caption>{{heading}}</caption>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
        </tr>
        {{#each albums}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{year}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div>





