<header>
    <h1 style="text-align:center">This header appears on all pages using this partial</h1>

    <div id="nav">
        <img style="width:64px;height:64px;margin-right:50px" src="images/charizard.png"> 
        <a id="links" href="/home">Home</a>
        <a id="links" href="/about">About</a>
    </div>


</header>